<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/add-role.css">
    <script src="https://kit.fontawesome.com/6d7e7391eb.js" crossorigin="anonymous"></script>

    <title>GameStore</title>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/nav}"></th:block>
</header>
<main>
    <form class="mx-auto border border-white col-md-6 col-sm-12"
          th:action="@{/roles/add}" method="POST">
        <div class="container">
            <h1 class="text-white login">Add Role</h1>
            <hr>

            <div class="input-group">
                <label class="text-white" for="username"><b>Username</b></label>
                <select class="select" id="username" name="username">
                    <option selected>Select User</option>
                    <th:block th:each="u : ${usernames}">
                        <option th:text="${u}" th:value="${u}">Pesho</option>
                    </th:block>
                </select>
            </div>

            <hr>
            <div class="input-group">
                <label class="text-white" for="role"><b>Username</b></label>
                <select class="select" id="role" name="role">
                    <option selected>Select Role</option>
                    <th:block th:each="r : ${role}">
                        <option th:text="${r}" th:value="${r}">Pesho</option>
                    </th:block>
                </select>
            </div>
        </div>


        <hr>
        <div class="input-group">
            <button type="submit" class="loginbtn login">Add Role</button>
        </div>

        </div>
    </form>
</main>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<footer>
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>